.slider-wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end; /* align to right */
}

.slider-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
  width: 100%;
}

.slide-group {
  display: flex;
  min-width: 100%;
  justify-content: flex-end; /* right aligned group */
  gap: 20px;
  padding-right: 20px;
}

/* AchievementSlider.css */

.achievement-card {
  width: 280px;
  height: 290px;
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}


.card h3 {
  margin-bottom: 10px;
}
